<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @volunteer.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @volunteer.password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @volunteer.salt %>
</p>

<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<%= link_to 'Back', volunteers_path %>
