<p id="notice"><%= notice %></p>

<p>
  <strong>Prediction date:</strong>
  <%= @garden_produce.prediction_date %>
</p>

<p>
  <strong>Readiness:</strong>
  <%= @garden_produce.readiness %>
</p>

<%= link_to 'Edit', edit_garden_produce_path(@garden_produce) %> |
<%= link_to 'Back', garden_produces_path %>
