<p id="notice"><%= notice %></p>

<h1>Crops</h1>

<table>
  <thead>
    <tr>
      <th>Produce</th>
      <th>Garden</th>
      <th>Planted at</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crops.each do |crop| %>
      <tr>
        <td><%= crop.produce %></td>
        <td><%= crop.garden_id %></td>
        <td><%= crop.planted_at %></td>
        <td><%= crop.description %></td>
        <td><%= link_to 'Show', crop %></td>
        <td><%= link_to 'Edit', edit_crop_path(crop) %></td>
        <td><%= link_to 'Destroy', crop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crop', new_crop_path %>
