<%= form_with(model: garden, local: true) do |form| %>
  <% if garden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(garden.errors.count, "error") %> prohibited this garden from being saved:</h2>

      <ul>
      <% garden.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :garden_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :garden_address %>
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat, id: :garden_lat %>
  </div>

  <div class="field">
    <%= form.label :long %>
    <%= form.text_field :long, id: :garden_long %>
  </div>

  <div class="field">
    <%= form.label :contact_name_1 %>
    <%= form.text_field :contact_name_1, id: :garden_contact_name %>
  </div>

  <div class="field">
    <%= form.label :contact_number_1 %>
    <%= form.text_field :contact_number_1, id: :garden_contact_number %>
  </div>

  <div class="field">
    <%= form.label :email_1 %>
    <%= form.text_field :email_1, id: :garden_email %>
  </div>

  <div class="field">
    <%= form.label :contact_name_2 %>
    <%= form.text_field :contact_name_2, id: :garden_contact_name %>
  </div>

  <div class="field">
    <%= form.label :contact_number_2 %>
    <%= form.text_field :contact_number_2, id: :garden_contact_number %>
  </div>

  <div class="field">
    <%= form.label :email_2 %>
    <%= form.text_field :email_2, id: :garden_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
