<p id="notice"><%= notice %></p>

<h1>Gardens</h1>

<table>
  <thead>
    <tr>
      <th>Garden name</th>
      <th>Address</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Contact name</th>
      <th>Phone number</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gardens.each do |garden| %>
      <tr>
        <td><%= garden.garden_name %></td>
        <td><%= garden.address %></td>
        <td><%= garden.lat %></td>
        <td><%= garden.long %></td>
        <td><%= garden.contact_name %></td>
        <td><%= garden.phone_number %></td>
        <td><%= garden.email %></td>
        <td><%= link_to 'Show', garden %></td>
        <td><%= link_to 'Edit', edit_garden_path(garden) %></td>
        <td><%= link_to 'Destroy', garden, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Garden', new_garden_path %>
