<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @garden.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @garden.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @garden.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @garden.long %>
</p>

<p>
  <strong>Contact name 1:</strong>
  <%= @garden.contact_name_1 %>
</p>

<p>
  <strong>Contact number 1:</strong>
  <%= @garden.contact_number_1 %>
</p>

<p>
  <strong>Email 1:</strong>
  <%= @garden.email_1 %>
</p>

<p>
  <strong>Contact name 2:</strong>
  <%= @garden.contact_name_2 %>
</p>

<p>
  <strong>Contact number 2:</strong>
  <%= @garden.contact_number_2 %>
</p>

<p>
  <strong>Email 2:</strong>
  <%= @garden.email_2 %>
</p>

<p>
  <strong>Produce:</strong>
    <%= @garden.GardenProduces.each do |prod| %>
      <%= Produce.all.find_by(id: prod.produce_id).name %>
    <% end %>
</p>


<%= link_to 'Edit', edit_garden_path(@garden) %> |
<%= link_to 'Back', gardens_path %>
