<%= form_with(model: produce, local: true) do |form| %>
  <% if produce.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produce.errors.count, "error") %> prohibited this produce from being saved:</h2>

      <ul>
      <% produce.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :produce_name %>
  </div>

  <div class="field">
    <%= form.label :prediction_date %>
    <%= form.text_field :prediction_date, id: :produce_prediction_date %>
  </div>

  <div class="field">
    <%= form.label :readiness %>
    <%= form.number_field :readiness, id: :produce_readiness %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
