<%= form_with(model: produce, local: true) do |form| %>
  <% if produce.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produce.errors.count, "error") %> prohibited this produce from being saved:</h2>

      <ul>
      <% produce.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <td class="field">
    <%= form.text_field :name, id: :produce_name %>
  </td>
  <td class="field">
    <%= form.text_field :duration, id: :produce_duration %>
  </td>

  <td class="actions">
    <%= form.submit %>
  </td>
<% end %>
